<ion-header class="hide">
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe id="the_iframe"
          frameborder="0" 
          height="100%" 
          width="100%" 
          src="http://52.66.202.195:5000/Physics%20puzzle%20template/index.html" 
          name="iframe_a">
  </iframe>
</ion-content>
